<div>
    <div class="text"> Filter Options </div>
    <br>
    <div class="horLine">
    </div>
    <br>
    <div class="filter">
        <input #favorites class="checks" type="checkbox" value="false"> Hide Favorites
    </div>
    <br>
    <br>
    <div class="filter">
        <input #named class="checks" type="checkbox" value="true"> Hide Named Files
    </div>
    <br>
    <br>
    <div class="filter">
        <input #unamed class="checks" type="checkbox" value="false"> Hide Unamed Files
    </div>
    <br>
    <br>
    <div class="horLine"></div>
    <br>
    <div class="filter">
        <input #problems class="checks" type="checkbox" value="false"> Show Problems Only
    </div>
    <br>
    <br>
    <div class="filter">
        <input #problemsH class="checks" type="checkbox" value="false"> Show Severe Problems
    </div>
    <br>
    <br>
    <div class="filter">
        <input #problemsM class="checks" type="checkbox" value="false"> Show Meduim Problems
    </div>
    <br>
    <br>
    <div class="filter">
        <input #problemsL class="checks" type="checkbox" value="false"> Show Minor Problems
    </div>
    <br>
    <br>
    <div class="horLine"></div>
    <br>
    <div class="filter">
        <input #longitude class="number" type="number" min="-180" max="180" value="0"> Longitude
    </div>
    <br>
    <br>
    <div class="filter">
        <input #latitude class="number" type="number" min="-90" max="90" value="0"> Latitude
    </div>
    <br>
    <br>
    <div class="filter">
        <input #raduis class="number" type="number" min="0" value="0"> Raduis (ft)
    </div>
    <br>
    <br>
    <div class="horLine"></div>
    <br>
    <div class="filter">
        <select #quickLoc value=""> 
        <option value="">  </option>
            <option value="Memorial Park"> Memorial Park </option>
            <option value="fountain"> Foutain </option>
            </select> Location
    </div>
    <br>
    <br>
    <div class="horLine"></div>
    <br>
    <div class="filter">
        <input #datef class="date" type="date"> Date Taken
    </div>
    <br>
    <br>
    <div class="filter">
        <input #dateExtra class="checks" type="checkbox" value="false"> To
    </div>
    <br>
    <br>
    <div class="filter">
        <input #datet class="date" type="date">
    </div>
    <br>
    <br>
    <div class="horLine"></div>
    <br>
    <div class="filter">
        <select #operator> 
            <option value="">  </option>
            <option value="Memorial Park"> Memorial Park </option>
            <option value="fountain"> Foutain </option>
            </select> Operator
    </div>
    <br>
    <br>
    <button (click)="filter(favorites.checked, named.checked, unamed.checked, problems.checked, problemsL.checked, problemsM.checked, problemsH.checked, longitude.checked, latitude.value, raduis.value, quickLoc.value, datef.value, dateExtra.checked, datet.value, operator.value)">Filter</button>
    <br>
    <br>
    <div class="horLine"></div>
</div>