<div class="page">
    <div class="sidePage" [hidden]="!sideList">
        <div id="searchSec" class="searchSec">
            <div class="tab">
                <div class="tabLink">
                    <a class="sort" (click)="toggleSort()">Sort</a>
                    <div class="dropDown-Content" *ngIf='sort'>
                        <a class="sort" (click)="sortAlpha()">{{alpha}}</a>
                        <a class="sort" (click)="sortDate()">{{date}}</a>
                    </div>
                </div>
                <a class="tabLink" (click)="toggleShowFilter()">{{filter}}</a>
                <a class="tabLink" (click)="toggleNewMenu()">{{operation}}</a>
            </div>
            <input #target class="searchIn" type="text">
            <button (click)="search(target.value)">Search</button> <button (click)="reset()">Reset</button>
        </div>
        <div class="list">
            <app-filter-options [hidden]="hideFilter" *ngIf="resetFilter"></app-filter-options>
            Favorites
            <div class="horLine"></div>
            <app-list [id]="0" *ngIf="showFavorites"></app-list>

            <div class="horLine"></div>
            Named
            <div class="horLine"></div>
            <app-list [id]="1" *ngIf="showNamed"></app-list>

            <div class="horLine"></div>
            Unamed
            <div class="horLine"></div>
            <app-list [id]="2" *ngIf="showUnamed"></app-list>
        </div>
    </div>


    <div class="mainPage">
        <div class="video">
            <img class="maxWidth" [src]="'data:image/jpeg;base64,' + primaryCam" [alt]="'data:image/jpeg;base64,' + primaryCam">

        </div>

        <div class="horLine"></div>

        <div class="bottomPanel">
            <app-controls></app-controls>
        </div>
    </div>
</div>

<app-run-pop-up-menu></app-run-pop-up-menu>

<app-edit-menu></app-edit-menu>

<button class="pullOutMenu" (click)="toggleSideMenu()" [hidden]="!pullOutBar"> {{pullOutCont}} </button>
<!--
<script src="https://cdnjs.cloudflare.come/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script>
    const socket = io.connect('http://localhost:5000');
    socket.on('primaryStreamOut', (data) => {
        console.log('data got got');
        const image = document.getElementById('primCam');
        primCam.src = data
    })
</script>
-->