<div class="page">
    <div class="sidePage" [hidden]="!sideList">
        <div id="searchSec" class="searchSec">
            <div class="tab">
                <a class="tablink" routerLink="/search">Search</a>
                <a class="tablink" routerLink="/filter">Filter</a>
                <a class="tablink" (click)="toggleNewMenu()">{{operation}}</a>
            </div>
            <router-outlet></router-outlet>
        </div>
        <router-outlet name="options"></router-outlet>
        <router-outlet name="sideMenu"></router-outlet>
    </div>


    <div class="mainPage">
        <div class="video">
            <img class="maxWidth" [src]="'data:image/jpeg;base64,' + primaryCam" [alt]="'data:image/jpeg;base64,' + primaryCam">

        </div>

        <div class="horLine"></div>

        <div class="bottomPanel">
            <app-controls></app-controls>
        </div>
    </div>
</div>

<app-run-pop-up-menu></app-run-pop-up-menu>

<app-edit-menu></app-edit-menu>

<button class="pullOutMenu" (click)="toggleSideMenu()" [hidden]="!pullOutBar"> {{pullOutCont}} </button>
<!--
<script src="https://cdnjs.cloudflare.come/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script>
    const socket = io.connect('http://localhost:5000');
    socket.on('primaryStreamOut', (data) => {
        console.log('data got got');
        const image = document.getElementById('primCam');
        primCam.src = data
    })
</script>
-->