<div class="page">
    <div class="sidePage" [hidden]="!sideList">
        <div id="searchSec" class="searchSec">
            <div class="tab">
                <a class="tablink" routerLink="/search">Search</a>
                <a class="tablink" routerLink="/filter">Filter</a>
                <a class="tablink" (click)="toggleOption()">{{operation}}</a>
            </div>
            <router-outlet></router-outlet>
        </div>
        <router-outlet name="options"></router-outlet>
        <router-outlet name="sideMenu"></router-outlet>
    </div>


    <div class="mainPage">
        <div class="video">
            <img class="maxWidth" src="{{getVideo()}}" alt="derp">
        </div>

        <div class="horLine"></div>

        <div class="bottomPanel">
            <app-controls></app-controls>
        </div>
    </div>
</div>

<div id="popUp" class="popUp" [hidden]="!isShown">
    <app-run-pop-up-menu></app-run-pop-up-menu>
</div>

<button class="pullOutMenu" (click)="toggleSideMenu()" [hidden]="!pullOutBar"> {{pullOutCont}} </button>