<div class="logo">
    <img src="assets/Images/UCF_logo_2.0.png" alt="Horse with wings">
</div>
<div class="controls">
    <div class="flex-grid">
        <div class="col"></div>
        <svg width="90" height="90" class="up">
            <a href="#">
                <path d="
                M 2 45
                C 2,50 2,35 2,30
                C 3,20 20,40 30,35
                C 40,30 10,10 25,10
                C 70,10 88,40 88,45
                C 88,50 70,80 25,80
                C 10,80 40,60 30,55
                C 20,50 3,70 2,60
                Z"
                />
            </a>
        </svg>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <svg width="90" height="90" class="up">
            <a href="#">
                <path d="
                M 2 45
                C 2,50 2,35 2,30
                C 3,20 20,40 30,35
                C 40,30 10,10 25,10
                C 70,10 88,40 88,45
                C 88,50 70,80 25,80
                C 10,80 40,60 30,55
                C 20,50 3,70 2,60
                Z"
                />
            </a>
        </svg>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

    <div class="flex-grid">
        <div class="col">
            <svg width="90" height="90" class="left">
                <a href="#">
                    <path d="
                    M 2 45
                    C 2,50 2,35 2,30
                    C 3,20 20,40 30,35
                    C 40,30 10,10 25,10
                    C 70,10 88,40 88,45
                    C 88,50 70,80 25,80
                    C 10,80 40,60 30,55
                    C 20,50 3,70 2,60
                    Z"
                    />
                </a>
            </svg></div>
        <div class="col"></div>
        <div class="col">
            <svg width="90" height="90" class="right">
                <a href="#">
                    <path d="
                    M 2 45
                    C 2,50 2,35 2,30
                    C 3,20 20,40 30,35
                    C 40,30 10,10 25,10
                    C 70,10 88,40 88,45
                    C 88,50 70,80 25,80
                    C 10,80 40,60 30,55
                    C 20,50 3,70 2,60
                    Z"
                    />
                </a>
            </svg>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"><img src="assets/Images/red_Button.png" alt="Horse with wings"></div>
        <div class="col"></div>
    </div>

    <div class="flex-grid">
        <div class="col"></div>
        <svg width="90" height="90" class="down">
            <a href="#">
                <path d="
                M 2 45
                C 2,50 2,35 2,30
                C 3,20 20,40 30,35
                C 40,30 10,10 25,10
                C 70,10 88,40 88,45
                C 88,50 70,80 25,80
                C 10,80 40,60 30,55
                C 20,50 3,70 2,60
                Z"
                />
            </a>
        </svg>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <svg width="90" height="90" class="down">
            <a href="#">
                <path d="
                M 2 45
                C 2,50 2,35 2,30
                C 3,20 20,40 30,35
                C 40,30 10,10 25,10
                C 70,10 88,40 88,45
                C 88,50 70,80 25,80
                C 10,80 40,60 30,55
                C 20,50 3,70 2,60
                Z"
                />
            </a>
        </svg>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>