<div class="logo">
    <img src="assets/Images/UCF_logo_2.0.png" alt="Horse with wings">
</div>
<div class="controls">
    <div class="flex-grid">
        <div class="col"></div>
        <div class="col"><img src="assets/Images/up_Arrow.png" alt="Horse with wings"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"><img src="assets/Images/up_Arrow.png" alt="Horse with wings"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>

    <div class="flex-grid">
        <div class="col"><img src="assets/Images/left_Arrow.png" alt="Horse with wings"></div>
        <div class="col"></div>
        <div class="col"><img src="assets/Images/right_Arrow.png" alt="Horse with wings"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"><img src="assets/Images/red_Button.png" alt="Horse with wings"></div>
        <div class="col"></div>
    </div>

    <div class="flex-grid">
        <div class="col"></div>
        <div class="col"><img src="assets/Images/down_Arrow.png" alt="Horse with wings"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"><img src="assets/Images/down_Arrow.png" alt="Horse with wings"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
</div>