<div class="window">
    <div class="container">
        <form action="">
            <label for="name">Name:  </label>
            <input name="name" type="text">
            <br>
            <label for="pipeID">PipeID*:  </label>
            <input name="pipeID" type="text">
            <br>
            <label for="direction">Direction*:  </label>
            <input name="direction" type="text">
            <br>
            <label for="lat">Latitude:  </label>
            <input name="lat" type="number" min="-90" max="90">
            <br>
            <label for="long">Longitude:  </label>
            <input name="long" type="number" min="-180" max="180">
            <br>
            <br>
            <br>
            <button id="comfirm">Submit</button>
        </form>
    </div>
</div>