<div class="popUp" [hidden]="hideHTML">
    <div class="window" (click)=null>
        <div class="container">
            <label for="name">Name:  </label>
            <input #name id="name" type="text" value="{{this.newRun.Name || ''}}" />
            <br>
            <label for="DriverName">Operators Name:  </label>
            <input #driverName id="DriverName" type="text" value="{{this.newRun.DriverName || ''}}" />
            <br>
            <label for="PipeID">PipeID*:  </label>
            <input #pipeID id="PipeID" type="text" value="{{this.newRun.PipeID || ''}}" />
            <br>
            <label for="Direction">Direction*:  </label>
            <input #dir id="Direction" type="text" value="{{this.newRun.Direction || ''}}" />
            <br>
            <label for="lat">Latitude:  </label>
            <input #lat id="lat" type="number" min="-90" max="90" value="{{this.newRun.Lat || 0}" />
            <br>
            <label for="long">Longitude:  </label>
            <input #long id="long" type="number" min="-180" max="180" value="{{this.newRun.Longi || 0}}" />
            <br>
            <br>
            <br>

            <button id="comfirm" (click)='comfirmBut(name.value, driverName.value, pipeID.value, dir.value, lat.value, long.value)'>Create</button>
            <button id="close" (click)="cancelBut()">close</button>
        </div>
    </div>
</div>