div.window {
  width: 400px;
  position: absolute;
  padding: 10px;
  left: calc(50% - 200px);
  top: 300px;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  z-index: 20;
}

div.container {
  width: 300px;
  clear: both;
}

div.container input {
  width: 100%;
  text-align: center;
  clear: both;
}

input {
  width: auto;
}
