<div class="logo">
  <img src="assets/Images/UCF_logo_2.0.png" alt="Horse with wings" />
</div>
<div class="controls">
  <div class="flex-grid">
    <div class="colSmall"></div>
    <div class="col"></div>
    <div class="col">
      <svg width="90" height="90" class="up">
        <a
          (mousedown)="onClickD('forward')"
          (mouseup)="onClickR('forward')"
          (mouseleave)="onClickR('forward')"
        >
          <path
            d="
                M 2 45
                C 2,50 2,35 2,30
                C 3,20 20,40 30,35
                C 40,30 10,10 25,10
                C 70,10 88,40 88,45
                C 88,50 70,80 25,80
                C 10,80 40,60 30,55
                C 20,50 3,70 2,60
                Z"
          />
        </a>
      </svg>
    </div>
    <div class="col"></div>
    <div class="colSmall"></div>
    <div class="col"></div>
    <div class="col">
      <svg width="90" height="90" class="up">
        <a
          (mousedown)="onCamClickD('camUp')"
          (mouseup)="onCamClickR('camUp')"
          (mouseleave)="onCamClickR('camUp')"
        >
          <path
            d="
                M 2 45
                C 2,50 2,35 2,30
                C 3,20 20,40 30,35
                C 40,30 10,10 25,10
                C 70,10 88,40 88,45
                C 88,50 70,80 25,80
                C 10,80 40,60 30,55
                C 20,50 3,70 2,60
                Z"
          />
        </a>
      </svg>
    </div>
    <div class="col"></div>
    <div class="colSmall"></div>
    <div class="colLong">
      <p class="range-field">
        <input
          type="range"
          min="0"
          max="100"
          [value]="this.slider"
          class="slider"
          (input)="this.slider = $event.target.value"
        /><span
          class="thumb"
          style="
            left: 0px;
            height: 0px;
            width: 0px;
            top: 10px;
            margin-left: -6px;
          "
        >
          <span class="value">{{ this.slider || 0 }}</span></span
        >
      </p>
    </div>
    <div class="colSmall"></div>
  </div>

  <div class="flex-grid">
    <div class="colSmall"></div>
    <div class="col">
      <svg width="90" height="90" class="left">
        <a
          (mousedown)="onClickD('left')"
          (mouseup)="onClickR('left')"
          (mouseleave)="onClickR('left')"
        >
          <path
            d="
                    M 2 45
                    C 2,50 2,35 2,30
                    C 3,20 20,40 30,35
                    C 40,30 10,10 25,10
                    C 70,10 88,40 88,45
                    C 88,50 70,80 25,80
                    C 10,80 40,60 30,55
                    C 20,50 3,70 2,60
                    Z"
          />
        </a>
      </svg>
    </div>
    <div class="col">
      <button
        class="action"
        (mousedown)="onBinClick('True')"
        (mouseup)="onClickR('False')"
        (mouseleave)="onClickR('False')"
      ></button>
    </div>
    <div class="col">
      <svg width="90" height="90" class="right">
        <a
          (mousedown)="onClickD('right')"
          (mouseup)="onClickR('right')"
          (mouseleave)="onClickR('right')"
        >
          <path
            d="
                    M 2 45
                    C 2,50 2,35 2,30
                    C 3,20 20,40 30,35
                    C 40,30 10,10 25,10
                    C 70,10 88,40 88,45
                    C 88,50 70,80 25,80
                    C 10,80 40,60 30,55
                    C 20,50 3,70 2,60
                    Z"
          />
        </a>
      </svg>
    </div>
    <div class="colSmall"></div>
    <div class="col">
      <svg width="90" height="90" class="left">
        <a
          (mousedown)="onCamClickD('camLeft')"
          (mouseup)="onCamClickR('camLeft')"
          (mouseleave)="onCamClickR('camLeft')"
        >
          <path
            d="
                M 2 45
                C 2,50 2,35 2,30
                C 3,20 20,40 30,35
                C 40,30 10,10 25,10
                C 70,10 88,40 88,45
                C 88,50 70,80 25,80
                C 10,80 40,60 30,55
                C 20,50 3,70 2,60
                Z"
          />
        </a>
      </svg>
    </div>
    <div class="col">
      <button class="action" (click)="caputerImage()">Capture</button>
    </div>
    <div class="col">
      <svg width="90" height="90" class="right">
        <a
          (mousedown)="onCamClickD('camRight')"
          (mouseup)="onCamClickR('camRight')"
          (mouseleave)="onCamClickR('camRight')"
        >
          <path
            d="
                    M 2 45
                    C 2,50 2,35 2,30
                    C 3,20 20,40 30,35
                    C 40,30 10,10 25,10
                    C 70,10 88,40 88,45
                    C 88,50 70,80 25,80
                    C 10,80 40,60 30,55
                    C 20,50 3,70 2,60
                    Z"
          />
        </a>
      </svg>
    </div>
    <div class="colSmall"></div>
    <div class="colLong"></div>
    <div class="colSmall"></div>
  </div>

  <div class="flex-grid">
    <div class="colSmall"></div>
    <div class="col"></div>

    <div class="col">
      <svg width="90" height="90" class="down">
        <a
          (mousedown)="onClickD('back')"
          (mouseup)="onClickR('back')"
          (mouseleave)="onClickR('back')"
        >
          <path
            d="
                M 2 45
                C 2,50 2,35 2,30
                C 3,20 20,40 30,35
                C 40,30 10,10 25,10
                C 70,10 88,40 88,45
                C 88,50 70,80 25,80
                C 10,80 40,60 30,55
                C 20,50 3,70 2,60
                Z"
          />
        </a>
      </svg>
    </div>
    <div class="col"></div>
    <div class="colSmall"></div>
    <div class="col"></div>

    <div class="col">
      <svg width="90" height="90" class="down">
        <a
          (mousedown)="onCamClickD('camDown')"
          (mouseup)="onCamClickR('camDown')"
          (mouseleave)="onCamClickR('camDown')"
        >
          <path
            d="
                M 2 45
                C 2,50 2,35 2,30
                C 3,20 20,40 30,35
                C 40,30 10,10 25,10
                C 70,10 88,40 88,45
                C 88,50 70,80 25,80
                C 10,80 40,60 30,55
                C 20,50 3,70 2,60
                Z"
          />
        </a>
      </svg>
    </div>
    <div class="col"></div>
    <div class="colSmall"></div>
    <div class="colLong">
      <a class="button" (click)="refocus()"> refocus </a>
    </div>
    <div class="colSmall"></div>
  </div>
</div>
