/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

button {
    margin: 5px;
    width: 200px;
}

div {
    margin: auto;
}

img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    object-position: 50% 50%;
}

input {
    width: 95%;
    margin: auto;
}

h5 {
    margin-top: 35px;
    margin-bottom: 5px;
}

button.pullOutMenu {
    color: #FFFFFF20;
    border-color: #FFFFFF80;
    background-color: #272727;
    background-image: linear-gradient(147deg, #70707060 0%, #0f0f0f60 92%);
}

button.pullOutMenu {
   color: #FFFFFF;
}

div.list {
    height: calc(100% - 177px);
    overflow-y: scroll;
}

div.horLine {
    width: calc(100% - 5px);
    height: 1px;
    border-radius: 100%;
}

div.verLine {
    width: 3px;
    height: 100%;
    float: right;
    border-radius: 100%;
}

div.flex-grid {
    display: flex;
    height: 33%;
}

div.colSmall {
    flex: 1;
}

div.col {
    flex: 2;
}

div.colLong {
    flex: 4;
}

html,
body {
    background-color: #272727;
    color: white;
}

div.searchSec {
    background-color: #f7a521;
    background-image: linear-gradient(315deg, #f7a521 0%, #ffcc00 74%);
    border-color: darkgrey;
}

div.sidePage {
    background-color: #27272760;
    background-image: linear-gradient(147deg, #70707060 0%, #0f0f0f60 92%);
}

div.horLine {
    background-color: #fbb034;
    background-image: linear-gradient(338deg, #f5a626 0%, #ffcc00 74%);
    opacity: 1;
    box-shadow: inset 60px 0 120px #f5a626, inset -60px 0 120px #ffcc00;
}

div.verLine {
    background-color: #fbb034;
    background-image: linear-gradient(338deg, #f5a626 0%, #ffcc00 74%);
    opacity: 1;
    box-shadow: inset 60px 0 120px #f5a626, inset -60px 0 120px #ffcc00;
}

div.video {
    border-color: black;
    background-color: aqua;
}

div.bottomPanel {
    background-color: #27272760;
    background-image: linear-gradient(147deg, #70707060 0%, #0f0f0f60 92%);
}

div.extraBar {
    background-color: rgb(118, 135, 152, .30);
    border-color: black;
    opacity: 0.6;
}

div.pic {
    border-color: black;
}

div.taggedBox {
    border-color: black;
}

div.taggedBox:button {
    left: 20px;
}

div.popUp {
    background-color: rgb(0, 0, 0, .80)
}

div.window {
    border-color: rgb(255, 255, 255, 0.75);
    background-color: #272727;
}

@media screen and (max-width: 1775px) {
    div.sidePage {
    background-color: #272727;
    background-image: linear-gradient(147deg, #70707060 0%, #0f0f0f60 92%);
        border: black;
    }
}
