/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

button {
    margin: 5px;
    width: 200px;
}

div {
    margin: auto;
}

img {
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    object-position: 50% 50%;
}

input {
    width: 95%;
    margin: auto;
}

h5 {
    margin-top: 35px;
    margin-bottom: 5px;
}

button.pullOutMenu {
    color: #FFFFFF20;
    border-color: #FFFFFF80;
    background-color: #272727;
    background-image: linear-gradient(147deg, #70707060 0%, #0f0f0f60 92%);
}

button.pullOutMenu {
   color: #FFFFFF;
}

div.tab {
    display: flex;
    height: 49px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    z-index: 18;
}

div.dropDown-Content {
    background-color: #f1f1f1;
    display: relative;
    z-index: 18;
}

a.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px;
    width: 20px;
    border-radius: 0 0 0 100%;
    border-style: solid;
    border-width: 1px;
    border-right: none;
    border-top: none;
    background-color: rgba(255, 0, 0, 0.555);
    text-align: center;
    z-index: 20;
    transition: 0.3s;
}

a.ribbon {
    background-color: inherit;
    color: black;
    float: left;
    border: none;
    outline: none;
    padding: 14px 0px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */

a.ribbon:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

a.ribbon.active {
    background-color: #ccc;
}

button.action {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: red;
    color: black;
    opacity: 0.85;
}

input.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    background: black;
    border-radius: 5px;
    border-width: 10px;
    outline: none;
    opacity: 0.9;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

input.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-image: url(../../assets/Images/Mini_UCF_logo_2.0.png);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

svg {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}
  
path:hover {
    fill: #f7a521;
    fill-opacity: 1;
    cursor: pointer;
}

a.video:hover {
    background-color: #fbb034;
    background-image: linear-gradient(338deg, #f5a626 0%, #ffcc00 74%);
}

/* Change background color of buttons on hover */

a.button:hover {
    color: black;
    background-color: rgb(238, 238, 238);
}

/* Create an active/current tablink class */

a .active {
    color: black;
    background-color: rgb(238, 238, 238);
}

a.delete {
    color: red;
}

/* Change background color of buttons on hover */

a.delete:hover {
    color: black;
    background-color: red;
}
  
/* Create an active/current tablink class */
  
a.delete .active {
    color: black;
    background-color: red;
}

div.list {
    height: calc(100% - 177px);
    overflow-y: scroll;
}

div.horLine {
    width: calc(100% - 5px);
    height: 1px;
    border-radius: 100%;
}

div.verLine {
    width: 3px;
    height: 100%;
    float: right;
    border-radius: 100%;
}

div.flex-grid {
    display: flex;
    height: 33%;
}

div.colSmall {
    flex: 1;
}

div.col {
    flex: 2;
}

div.colLong {
    flex: 4;
}

html,
body {
    background-color: #272727;
    color: white;
}

div.searchSec {
    background-color: #f7a521;
    background-image: linear-gradient(315deg, #f7a521 0%, #ffcc00 74%);
    border-color: darkgrey;
}

div.sidePage {
    background-color: #27272760;
    background-image: linear-gradient(147deg, #70707060 0%, #0f0f0f60 92%);
}

div.horLine {
    background-color: #fbb034;
    background-image: linear-gradient(338deg, #f5a626 0%, #ffcc00 74%);
    opacity: 1;
    box-shadow: inset 60px 0 120px #f5a626, inset -60px 0 120px #ffcc00;
}

div.verLine {
    background-color: #fbb034;
    background-image: linear-gradient(338deg, #f5a626 0%, #ffcc00 74%);
    opacity: 1;
    box-shadow: inset 60px 0 120px #f5a626, inset -60px 0 120px #ffcc00;
}

div.video {
}

div.bottomPanel {
    background-color: #27272760;
    background-image: linear-gradient(147deg, #70707060 0%, #0f0f0f60 92%);
}

div.extraBar {
    background-color: rgb(118, 135, 152, .30);
    border-color: black;
    opacity: 0.6;
}

div.pic {
    border-color: black;
}

div.taggedBox {
    border-color: black;
}

div.taggedBox:button {
    left: 20px;
}

div.popUp {
    background-color: rgb(0, 0, 0, .80)
}

div.window {
    border-color: rgb(255, 255, 255, 0.75);
    background-color: #272727;
}

@media screen and (max-width: 1775px) {
    div.sidePage {
    background-color: #272727;
    background-image: linear-gradient(147deg, #70707060 0%, #0f0f0f60 92%);
        border: black;
    }
}
