<div class="list">
    <div class="horLine"></div>
    <br>
    <form action="">
        <div class="filter">
            <input class="checks" type="checkbox" id="favorites" name="favorites"> Display Favorites
        </div>
        <br>
        <br>
        <div class="filter">
            <input class="checks" type="checkbox" id="named" name="named"> Display Named Files
        </div>
        <br>
        <br>
        <div class="filter">
            <input class="checks" type="checkbox" id="unamed" name="unamed"> Display Unamed Files
        </div>
        <br>
        <br>
        <div class="horLine"></div>
        <br>
        <div class="filter">
            <input class="checks" type="checkbox" id="problems" name="problems"> Display Problems Only
        </div>
        <br>
        <br>
        <div class="filter">
            <input class="checks" type="checkbox" id="problems" name="problems"> Display Severe Problems
        </div>
        <br>
        <br>
        <div class="filter">
            <input class="checks" type="checkbox" id="problems" name="problems"> Display Meduim Problems
        </div>
        <br>
        <br>
        <div class="filter">
            <input class="checks" type="checkbox" id="problems" name="problems"> Display Minor Problems
        </div>
        <br>
        <br>
        <div class="horLine"></div>
        <br>
        <div class="filter">
            <input class="number" type="number" min="-180" max="180" id="longitude" name="longitude"> Longitude
        </div>
        <br>
        <br>
        <div class="filter">
            <input class="number" type="number" min="-90" max="90" id="latitude" name="latitude"> Latitude
        </div>
        <br>
        <br>
        <div class="filter">
            <input class="number" type="number" min="0" id="raduis" name="raduis"> Raduis (ft)
        </div>
        <br>
        <br>
        <div class="horLine"></div>
        <br>
        <div class="filter">
            <select id="quickLoc" name="quickLoc"> 
            <option value="Memorial Park"> Memorial Park </option>
            <option value="fountain"> Foutain </option>
            </select> Location
        </div>
        <br>
        <br>
        <div class="horLine"></div>
        <br>
        <div class="filter">
            <input class="date" type="date" id="date" name="date"> Date Taken
        </div>
        <br>
        <br>
        <div class="filter">
            <input class="checks" type="checkbox" id="problems" name="problems"> To
        </div>
        <br>
        <br>
        <div class="filter">
            <input class="date" type="date" id="date" name="date">
        </div>
        <br>
        <br>
        <div class="horLine"></div>
        <br>
        <div class="filter">
            <select id="operator" name="operator"> 
            <option value="Memorial Park"> Memorial Park </option>
            <option value="fountain"> Foutain </option>
            </select> Operator
        </div>
        <br>
        <br>
        <div class="horLine"></div>
    </form>
</div>