<div class="item">
    <h5>Run Name</h5>
    <div class="flex-grid">
        <div class="col">
            <div class="pic">
                <img class="maxWidth" src="assets/Images/screenHolder.jpg" alt="">
            </div>
        </div>
        <div class="colLong">
            <div class="info">
                Date<br> Video
                <br> # tagging Spots<br> Pipe ID / Dir
            </div>
        </div>
    </div>
    <button class="download"> Download File </button>
    <button class="dropdown"> v </button>
    <div class="taggedBox">
        <pre>
Tagged Location 1
Lat: 123       Long: 123</pre>
        <button>Export Coords</button>
        <pre>
Tagged Location 2
Lat: 123       Long: 123</pre>
        <button>Export Coords</button>
    </div>
</div>