<div *ngFor="let run of runs" class="item">
    <h5>{{run.name}}</h5>
    <div class="flex-grid">
        <div class="col">
            <div class="pic">
                <img class="maxWidth" src="assets/Images/screenHolder.jpg" alt="">
            </div>
        </div>
        <div class="colLong">
            <div class="info">
                {{run.date}}<br>
                <a>{{run.videoID}}</a>
                <!--TODO make into a video link-->
                <br> {{run.tag | getNumOfTags}} tagged Spots<br> {{run.pipeID}} / {{run.direction}}
            </div>
        </div>
    </div>
    <button class="download"> Download File </button>
    <button class="dropdown"> v </button>
    <div class="taggedBox">
        <div *ngFor="let tag of run.tag">
            <pre>
Tagged Location {{tag.locationNum}}
Lat: {{tag.lat}}       Long: {{tag.long}}</pre>
            <button>Export Coords</button>
        </div>
    </div>
</div>