button.dropdown {
  width: 35px;
  padding: 0;
  float: right;
}

button.download {
  padding: 4px, 0px;
  width: 100%;
  position: relative;
}

div.item {
  margin-top: -20px;
}

div.taggedBox {
  height: 100px;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-style: solid;
  border-width: 1px;
}

div.taggedBox:button {
  left: 20px;
}

div.linkHolder {
  overflow: hidden;
}

div.col {
  padding: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

input.pinned {
  position: relative;
  float: left;
}

a {
  cursor: pointer;
}

a.video {
  border-radius: 5px;
}

a.button {
  margin: auto 5px;
  padding: 4px 6px;
  border: none;
  outline: none;
  float: center;
  cursor: pointer;
  transition: 0.3s;
  background-color: inherit;
}