<div *ngFor="let run of runs" class="item">
  <div *ngIf="run.ShowRun">
    <h5>{{ run.Name || run.DateTaken }}</h5>
    <div class="wholeRun">
      <div class="flex-grid">
        <div class="col">
          <div class="pic">
            <!--TODO make into a video link-->
            <a class="video" (click)="setVideo(run.PipeID, run.DateTaken)">
              <img
                class="maxWidth"
                src="{{ run | makeDirectory: 'imageFront.jpg' }}"
                alt="Image not found."
              />
            </a>
          </div>
        </div>
        <div class="colLong">
          <div class="info">
            {{ run.DateTaken | date: "mediumDate" }}
            <div class="linkHolder">
              <a class="edit button" (click)="editData(run)">Edit</a>
              <a
                class="delete button"
                (click)="deleteRun(run.Id, run.DateTaken, run.PipeID)"
                >Delete</a
              >
            </div>
            {{ run.tags | getNumOfTags }} tagged Spots<br />
            {{ run.PipeID }} / {{ run.Direction }}
          </div>
        </div>
      </div>
      <button class="download" (click)="getFile(run.DateTaken, run.PipeID)">
        Download File
      </button>
      <button
        class="dropdown"
        *ngIf="run.tags | getNumOfTags"
        (click)="toggleTag(run.Id)"
      >
        v
      </button>
      <div class="taggedBox" *ngIf="(run.tags | getNumOfTags) && run.ShowTag">
        <div class="horLine"></div>
        <div *ngFor="let tag of run.tags">
          <pre>
Tagged Location {{ tag.Position }}
Lat: {{ tag.Lat }}       Long: {{ tag.Longi }}</pre
          >
          <div class="linkHolder">
            <a
              class="export button"
              (click)="exportShape(run.DateTaken, tag.Lat, tag.Longi)"
              >Export</a
            >
            <a
              class="view button"
              (click)="getImage(run.PipeID, run.DateTaken, tag.Position)"
              >View</a
            >
            <a class="delete button" (click)="deleteTag(run.Id, tag.Id)"
              >Delete</a
            >
          </div>
        </div>
      </div>
      <div class="horLine"></div>
    </div>
  </div>
</div>
