<div *ngFor="let run of runs" class="item">
    <h5>{{run.Name || run.DateTaken }}</h5>
    <div class="flex-grid">
        <div class="col">
            <div class="pic">
                <!--TODO make into a video link-->
                <img class="maxWidth" src="assets/Images/screenHolder.jpg" alt="">
            </div>
        </div>
        <div class="colLong">
            <div class="info">
                {{(run.DateTaken | date:'mediumDate')}}
                <div class="linkHolder">
                    <a class="edit" (click)="editData(run.id)">Edit</a><a class="delete" (click)="deleteRun(run.id)">Delete</a>
                </div>{{run.tag | getNumOfTags}} tagged Spots<br> {{run.PipeID}} / {{run.direction}}
            </div>
        </div>
    </div>
    <button class="download "> Download File </button>
    <button class="dropdown " *ngIf="(run.tag | getNumOfTags) "> v </button>
    <div class="taggedBox " *ngIf="(run.tag | getNumOfTags) ">

        <div class="horLine"></div>
        <div *ngFor="let tag of run.tag ">
            <pre>
Tagged Location {{tag.locationNum}}
Lat: {{tag.Lat}}       Long: {{tag.long}}</pre>
            <div class="linkHolder">
                <a class="">Export</a> <a class="">View</a> <a class="delete">Delete</a>
            </div>
            <div class="horLine"></div>
        </div>
    </div>
</div>